<form onsubmit="(event) => event.preventDefault()">
	<div id="dias-da-semana">
		<label for="domingo">Domingo
			<input type="number" id="domingo" placeholder="Digite algo"  required>
		</label>

		<label for="segunda">Segunda
			<input type="number" id="segunda" placeholder="Digite algo" required>
		</label>

		<label for="terca">Terça
			<input type="number" id="terca" placeholder="Digite algo" required>
		</label>

		<label for="quarta">Quarta
			<input type="number" id="quarta" placeholder="Digite algo" required>
		</label>

		<label for="quinta">Quinta
			<input type="number" id="quinta" placeholder="Digite algo"  required>
		</label>

		<label for="sexta">Sexta
			<input type="number" id="sexta" placeholder="Digite algo"  required>
		</label>

		<label for="sabado">Sábado
			<input type="number" id="sabado" placeholder="Digite algo"  required>
		</label>

	</div>
	<div class="search-row">
		<label for="domingo">Palavra chave
			<input type="text" id="palavra_chave" placeholder="Digite algo" required>
		</label>
		<button id="buscar" type="button">Buscar</button>
	</div>
</form>